@charset "utf-8";

* {
  background-color: black;
  color: #fff;
}

body {
  width: 100%;
}

li {
  list-style: none;
  display: inline-block;
}

div {
  width: 100%;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  height: 40px;
  padding: 10px;
}

.header-right {
  justify-content: flex-end;
}

header img {
  width: 100px;
}

h1 {
  position: relative;
  top: -15px;
}

.header-right img {
  width: 40px;
  height: auto;
  border-radius: 3px;
}
